* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: auto;

}
.nav-item{
  font-size: 30px; 
  padding: 0 20px;
  padding-top: 10px !important;
}
.navbar-brand{
  font-size: 60px;
  font-family: 'Lobster', cursive;
}
nav{
  background-color:white;
}
.banner {

  background-image: url("/img/banner/pizza1.jpg");


  padding: 20px;
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

}
.banner h1 {
  font-size: 70px;
  color: white;

}
.banner p { 
  font-size: 40px;
  color: white;

}
h1, h2, h3, h5, h6, h4 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  text-align: center;

}
p {
  font-family: 'Nanum Myeongjo', serif; 
  

}
.about{
  padding-top: 50px;
  background-color:#eceeed;
  text-align: center;
}
.about p{
  font-size: 30px;
  font-weight: bold;
  
}
.qualities{
  text-align: center;
  padding-top: 50px;
  margin: 0 10px 0 10px;
}
/* .line{
  color:#f7b13b;
} */
.quality-icons{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}
/* .about-details {
  padding-top:30px;
} */
.menu{
  padding: 40px 40px 40px 40px;
  
  background-color:#eceeed;
}
.menu, p {
  font-size: 25px;
  font-weight: bold;
  
}
.pizza-description {
  display: flex;
  width: 700px;
}
.dot{
  flex: 1;
  margin:0 10px ;
  border-bottom: 5px dotted black;
  height: 1.0em;
}
.pizza-ingredients{
  font-size: 20px;
  padding-top: 5px;
}
#counter-1, #counter-2{
  color: #f7b13b;
}

.right{
margin-right: 20px;
}

.form-select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* .row {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
} */
#pizza1detail, #pizza2detail, #pizza3detail, #pizza4detail, #pizza5detail, #pizza6detail, #pizza7detail, #pizza8detail, #pizza9detail {
  display: none;
  font-size: 18px;

}

.summary p {
  font-size: 15px;
}
.delivery {
  padding-bottom: 10px;

}
footer {
  text-align: center;

}
